@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

html {
  scroll-behavior: smooth;
  color: gray;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  background: #f1f5f8;
  color: #222;
}

.name {
  color: #222;
  font-family: Roboto, sans-serif;
  font-size: 5rem;
  font-weight: 900;
  margin-top: 4rem;
  margin-bottom: -20px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  text-align: center;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width:768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }  
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

.book img {
  width: 100%;
  object-fit: cover;
}

.book img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.book h2 {
  color: #585759;
  font-size: 2rem;
  font-weight: 900;
  margin: 1rem 0 -15px 0;

}

.book h4 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}



